/* mainAppPage.css */

/* Style for the main VBox container */
.vbox {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #cfcfcf;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-alignment: top-center;
}

/* Style for the welcome label */
.label-welcome {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-padding-bottom: 20px;
}

/* Style for the MenuBar */
.menu-bar {
    -fx-background-color: #ffffff;
    -fx-border-color: #b3b3b3;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-spacing: 10; /* Adjust spacing between menu items if needed */
}
.menu-bar .menu {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.menu-bar .menu-item {
    -fx-font-size: 14px;
}
